@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aprende como  <a href="https://docs.microsoft.com/aspnet/core">construir una Web apps con ASP.NET Core V2</a>.</p>
</div>
